@font-face {
    font-family: 'Leckerli One';
    src: url('../fonts/LeckerliOne-Regular.woff2') format('woff2'),
         url('../fonts/LeckerliOne-Regular.woff')  format('woff'),
         url('../fonts/LeckerliOne-Regular.ttf')   format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.scrib-footer {
  font-family: 'Leckerli One', cursive;
}

.is-small-8 {
  font-size: .5rem!important;
}

.clipped {
  overflow-wrap: break-word
}

@media screen and (max-width: 768px) {
  .level-item {
      width: 100%;
  }
}